<div class="forgot-wrapper">
  <div class="forgot-left">
    <img src="assets/forgot_pwd.png" alt="Forgot Password" />
  </div>

  <div class="forgot-right">
    <h2>Forgot Your Password?</h2>
    <p class="subtitle">Enter your email and we'll send you a reset link.</p>

    <form >
      <label for="email">Email Address</label>
      <input type="email" id="email" formControlName="email" placeholder="example@email.com" />

      <div class="error" *ngIf="forgotForm.controls['email'].touched && forgotForm.controls['email'].invalid">
        Valid email is required.
      </div>

      <button type="submit" [disabled]="forgotForm.invalid || isSubmitting">
        {{ isSubmitting ? 'Sending...' : 'Send Email' }}
      </button>

      <div class="back-login">
         <a [routerLink]="['/login']">← Back to login</a>
      </div>
    </form>
  </div>
</div>
