<div class="profile-edit-container">
  <form [formGroup]="form" (ngSubmit)="submit()" class="profile-edit-form">
    <div class="profile-success" *ngIf="successMessage">
      {{ successMessage }}
    </div>

    <!-- USERNAME -->
    <label>User Name *</label>
    <input
      type="text"
      formControlName="userName"
      placeholder="Enter username"
    />
    <div class="error">
      <span
        [class.visible]="
          form.get('userName')?.touched && form.get('userName')?.errors
        "
        [innerText]="
          form.get('userName')?.hasError('required')
            ? '*User Name is required'
            : form.get('userName')?.hasError('userNameTaken')
            ? '*Username already exists'
            : ''
        "
      ></span>
    </div>

    <!-- EMAIL -->
    <label>Email *</label>
    <input type="email" formControlName="email" placeholder="Enter email" />
    <div class="error">
      <span
        [class.visible]="
          form.get('email')?.touched && form.get('email')?.errors
        "
        [innerText]="
          form.get('email')?.hasError('required')
            ? '*Email is required'
            : form.get('email')?.hasError('email')
            ? '*Invalid email format'
            : form.get('email')?.hasError('emailTaken')
            ? '*Email is existed'
            : ''
        "
      ></span>
    </div>

    <!-- FIRST NAME -->
    <label>First Name *</label>
    <input
      type="text"
      formControlName="firstName"
      placeholder="Enter first name"
    />
    <div class="error">
      <span
        [class.visible]="
          form.get('firstName')?.touched && form.get('firstName')?.errors
        "
        [innerText]="
          form.get('firstName')?.hasError('required')
            ? '*First Name is required'
            : ''
        "
      ></span>
    </div>

    <!-- LAST NAME -->
    <label>Last Name *</label>
    <input
      type="text"
      formControlName="lastName"
      placeholder="Enter last name"
    />
    <div class="error">
      <span
        [class.visible]="
          form.get('lastName')?.touched && form.get('lastName')?.errors
        "
        [innerText]="
          form.get('lastName')?.hasError('required')
            ? '*Last Name is required'
            : ''
        "
      ></span>
    </div>

    <!-- DATE OF BIRTH -->
    <label>Date of Birth *</label>
    <input type="date" formControlName="dateOfBirth" />
    <div class="error">
      <span
        [class.visible]="
          form.get('dateOfBirth')?.touched && form.get('dateOfBirth')?.errors
        "
        [innerText]="
          form.get('dateOfBirth')?.hasError('required')
            ? '*Date of Birth is required'
            : ''
        "
      ></span>
    </div>

    <div class="gender">
      <label>Gender:</label>
      <div class="gender-radio-group">
        <label>
          <input type="radio" formControlName="gender" [value]="true" /> Male
        </label>
        <label>
          <input type="radio" formControlName="gender" [value]="false" /> Female
        </label>
      </div>
    </div>

    <!-- SUBMIT -->
    <div class="btn">
      <button
        class="btn-submit"
        type="submit"
        [disabled]="form.invalid || form.pending || isFormDisabled"
      >
        Save
      </button>
    </div>
  </form>
</div>
