   <div> 
        <label for="userName">User Name</label>
       <input id="userName" formControlName="userName" readonly />    
   <div>
    <div>
        <label for="email">Email</label>
     <input id="email" formControlName="email" readonly /></div>
    </div>
<form [formGroup]="form" (ngSubmit)="submit()">
    <div>
    <label for="firstName">First Name:</label>
    <input id="firstName" formControlName="firstName" placeholder="First Name" />
    <div class="error" *ngIf="form.get('firstName')?.touched && form.get('firstName')?.hasError('required')">
      *First Name is required
    </div>
  </div>

  <div>
    <label for="lastName">Last Name:</label>
    <input id="lastName" formControlName="lastName" placeholder="Last Name" />
    <div class="error" *ngIf="form.get('lastName')?.touched && form.get('lastName')?.hasError('required')">
      *Last Name is required
    </div>
  </div>

  <div>
    <label for="dateOfBirth">Date of Birth:</label>
    <input id="dateOfBirth" type="date" formControlName="dateOfBirth" />
    <div class="error" *ngIf="form.get('dateOfBirth')?.touched && form.get('dateOfBirth')?.hasError('required')">
      *Date of Birth is required
    </div>
  </div>

  <button type="submit">Save</button>
</form>
