<div class="container">
  <div class="login-wrapper">
    <div class="content">
      <div class="login-left">
        <img
          src="https://img.freepik.com/premium-vector/patients-doctor-advertising-health-insurance_179970-165.jpg"
          alt="Booking illustration"
        />
      </div>

      <div class="login-right">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
          <div class="title">SIGN UP</div>

          <!-- EMAIL -->
          <label for="email">EMAIL *</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            placeholder="name@example.com"
          />
          <div class="error">
            <span
              *ngIf="registrationForm.get('email')?.touched && registrationForm.get('email')?.errors?.['required']"
            >
              *Email is required
            </span>
            <span
              *ngIf="registrationForm.get('email')?.touched && registrationForm.get('email')?.errors?.['email']"
            >
              *Invalid email format
            </span>
          </div>

          <!-- USERNAME -->
          <label for="username">USERNAME *</label>
          <input
            type="text"
            id="username"
            formControlName="username"
            placeholder="Enter username"
          />
          <div class="error">
            <span
              *ngIf="registrationForm.get('username')?.touched && registrationForm.get('username')?.errors?.['required']"
            >
              *Username is required
            </span>
            <span
              *ngIf="
          registrationForm.get('username')?.touched &&
          registrationForm.get('username')?.errors?.['pattern'] &&
          registrationForm.get('username')?.value
        "
            >
              *Username must contain both letters and numbers
            </span>
          </div>

          <!-- PASSWORD -->
          <label for="password">PASSWORD *</label>
          <div class="pass_field">
            <input
              [type]="showPassword ? 'text' : 'password'"
              id="password"
              placeholder="Enter password"
              formControlName="password"
              class="input"
            />
            <button
              type="button"
              (click)="togglePasswordVisibility()"
              class="toggle-password"
            >
              <fa-icon [icon]="showPassword ? faEyeSlash : faEye"></fa-icon>
            </button>
          </div>
          <div class="error">
            <span
              *ngIf="registrationForm.get('password')?.touched && registrationForm.get('password')?.errors?.['required']"
            >
              *Password is required
            </span>
            <!-- <span
              *ngIf="registrationForm.get('password')?.touched && registrationForm.get('password')?.errors?.['minlength']"
            >
              *Password must be at least 6 characters
            </span> -->
            <span
              *ngIf="
                    registrationForm.get('password')?.touched &&
                    registrationForm.get('password')?.errors?.['pattern'] &&
                    registrationForm.get('password')?.value
                  "
            >
              *Password must be at least 6 characters long, start with an
              uppercase letter, and include at least one special character.
            </span>
          </div>

          <!-- CONFIRM PASSWORD -->
          <label for="confirmPassword">CONFIRM PASSWORD *</label>
          <div class="pass_field">
            <input
              [type]="showConfirmPassword ? 'text' : 'password'"
              id="confirmPassword"
              formControlName="confirmPassword"
              placeholder="Enter confirm password"
            />
            <button
              type="button"
              (click)="toggleConfirmPasswordVisibility()"
              class="toggle-password"
            >
              <fa-icon
                [icon]="showConfirmPassword ? faEyeSlash : faEye"
              ></fa-icon>
            </button>
          </div>
          <div class="error">
            <span
              *ngIf="registrationForm.get('confirmPassword')?.touched && registrationForm.get('confirmPassword')?.errors?.['required']"
            >
              *Confirm password is requireds
            </span>
            <span
              *ngIf="registrationForm.get('confirmPassword')?.touched && registrationForm.errors?.['passwordMismatch']"
            >
              *Passwords do not match
            </span>
          </div>

          <!-- <label for="dateOfBirth">DATE OF BIRTH *</label>
          <input
            type="date"
            id="dateOfBirth"
            formControlName="dateOfBirth"
            required
          />
          <div
            class="error"
            *ngIf="registrationForm.get('dateOfBirth')?.touched && registrationForm.get('dateOfBirth')?.errors?.['required']"
          >
            Date of birth is required
          </div> -->

          <div class="button-container">
            <button
              type="submit"
              [disabled]="registrationForm.invalid || isSubmitting"
            >
              {{ isSubmitting ? "Signing up..." : "Sign Up" }}
            </button>
          </div>

          <div class="back-login">
            <a [routerLink]="['/login']">← Back to login</a>
          </div>
        </form>
      </div>
    </div>
    <div class="footer">&copy; 2025 HealthCareSystem. All rights reserved.</div>
  </div>
</div>
