<div class="header-container">
  <div class="left-header">
    <img src="assets/logo.jpg" alt="Logo" class="header-logo" />
    <p>GenHealth</p>
  </div>
  <div class="right-header">
    <div class="user-info" [class.dropdown-active]="dropdownOpen" (click)="toggleDropdown()">
      <span class="user-name">{{ userName }}</span>
      <div class="user-icon-wrapper">
        <img src="assets/user-icon.png" alt="User Icon" class="user-icon" />
        <i nz-icon nzType="down" class="arrow-icon"></i>
      </div>
    </div>

    <ul class="dropdown-menu" [class.show]="dropdownOpen">
      <li>
        <a routerLink="/edit-profile-customer">Edit Profile</a>
      </li>
      <li>
        <a>Change Password</a>
      </li>
      <li>
        <a>Management</a>
      </li>
      <li>
        <a href="javascript:void(0)" (click)="logout()">Logout</a>
      </li>
    </ul>
    <!-- <div class="header-logout">
      <button *ngIf="role === null" [routerLink]="'/login'">Login</button>
      <button *ngIf="role !== null && role !== 'customer'" (click)="logout()">
        Logout
      </button>
    </div> -->
  </div>
</div>
