<footer class="footer">
  <div class="footer-container footer-new">
    <div class="footer-col footer-col-logo-info">
      <div class="footer-logo-title-row">
        <img src="assets/logo.jpg" alt="Logo" class="footer-logo-large" />
        <div class="footer-title-large">Gen Health Clinic</div>
      </div>
      <div class="footer-info" id="contact">
        <div>7 D1 St.
          Long Thanh My, Thu Duc,
          Ho Chi Minh City,Vietnam</div>
        <div>Tel: <b>098 </b></div>
        <div>Email: <b>healthcares2205&#64;gmail.com</b></div>
        <div>Working time:</div>
        <div>Monday to Friday: morning 7:00 - 11:30, afternoon 13:00 - 18:00.</div>
      </div>
    </div>
    <div class="footer-col footer-col-links">
      <ul>
        <li><a href="#">About Gen Health</a></li>
        <li><a href="#">Find a Doctor</a></li>
        <li><a href="#">Health eNews</a></li>
        <li><a href="#">Recruitment</a></li>
        <li><a href="#">Sitemap</a></li>
      </ul>
    </div>
    <div class="footer-col footer-col-links">
      <ul>
        <li><a href="#">Services</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Make an Appointment</a></li>
        <li><a href="#">Ask us a Question</a></li>
        <li><a href="#">Personal Data Protection Statement</a></li>
      </ul>
    </div>
  </div>
</footer>
