<app-header></app-header>
<div class="user-manager">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Main Content -->
  <div class="main">
    <!-- User List -->
    <div class="user-list">
      <div class="user-list-header">
        <div class="content">User Management</div>
        <div class="search-wrapper">
          <i class="fas fa-search search-icon"></i>
          <!-- dùng nz-input -->
          <input nz-input placeholder="Search by name, email, role..." class="search-box" />
        </div>
      </div>

      <!-- dùng nz-table -->
      <nz-table
      [nzBordered]="true"
      [nzShowPagination]="false">
        <thead>
          <tr>
            <th><span class="taghead nohead" style="width: 40px;">No.</span></th>
            <th><span class="taghead namehead" style="width: 200px;">Full Name</span></th>
            <th><span class="taghead mailhaed" style="width: 220px;">Email</span></th>
            <th><span class="taghead rolehead" style="width: 90px;">Role</span></th>
            <th><span class="taghead verifiedhead" style="width: 130px;">Email Confirm</span></th>
            <th><span class="taghead activehead" style="width: 135px;">Account Status</span></th>
            <th><span class="taghead operationhead" style="width: 150px;">Operations</span></th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let user of users; let i = index"> nào lấy từ database lên thì bỏ zô -->
          <tr>
            <td><span class="tag no">1</span></td>
            <td><span class="tag name">Trần Dương Hữu Đức</span></td>
            <td><span class="tag mail">ducnguyen437&#64;gmail.com</span></td>
            <td><span class="tag user">consultant</span></td>
            <td><span class="tag verified">uncofirm</span></td>
            <td><span class="tag active">active</span></td>
            <td div class="operation-icons">
              <div class="icon-box eye" title="View">
                <i class="fa-solid fa-eye"></i>
              </div>
              <div class="icon-box edit" title="Edit">
                <i class="fa-solid fa-edit"></i>
              </div>
              <div class="icon-box lock" title="Lock">
                <i class="fa-solid fa-lock"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
