<app-header></app-header>
<div class="user-manager">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Main Content -->
  <div class="main">
    <!-- User List -->

    <div class="user-list">
      <div class="user-list-header">
        <div class="content">User Management</div>
        <div class="search-wrapper">
          <i class="fas fa-search search-icon"></i>
          <!-- dùng nz-input -->
          <input
            nz-input
            placeholder="Search by name, email, role..."
            class="search-box"
          />
        </div>
      </div>

      <div class="user-list-scrollable">
        <!-- dùng nz-table -->
        <nz-table
          [nzData]="displayedUsers"
          [nzFrontPagination]="false"
          [nzShowPagination]="false"
        >
          <thead>
            <tr>
              <th>
                <span class="taghead nohead" style="width: 40px">No.</span>
              </th>
              <th>
                <span class="taghead namehead" style="width: 200px"
                  >Full Name</span
                >
              </th>
              <th>
                <span class="taghead mailhaed" style="width: 250px">Email</span>
              </th>
              <th>
                <span class="taghead rolehead" style="width: 90px">Role</span>
              </th>
              <th>
                <span class="taghead verifiedhead" style="width: 130px"
                  >Email Confirm</span
                >
              </th>
              <th>
                <span class="taghead activehead" style="width: 90px"
                  >Status</span
                >
              </th>
              <th>
                <span class="taghead operationhead" style="width: 150px"
                  >Operations</span
                >
              </th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let user of displayedUsers; let i = index">
              <td>
                <span class="tag no">{{
                  (currentPage - 1) * pageSize + i + 1
                }}</span>
              </td>
              <td>
                <span class="tag name">{{ user.fullName }}</span>
              </td>
              <td>
                <span class="tag mail">{{ user.email }}</span>
              </td>
              <td>
                <span class="tag user">{{ user.role }}</span>
              </td>
              <td>
                <span class="tag verified">
                  {{ user.emailConfirmed ? "Confirmed" : "Unconfirmed" }}
                </span>
              </td>
              <td>
                <span class="tag active">{{ user.accountStatus }}</span>
              </td>
              <td div class="operation-icons">
                <div
                  class="icon-box eye"
                  title="View"
                  (click)="viewUserDetail(user.id)"
                >
                  <i class="fa-solid fa-eye"></i>
                </div>
                <div
                  class="icon-box edit"
                  title="Edit"
                  (click)="editUser(user.id)"
                >
                  <i class="fa-solid fa-edit"></i>
                </div>

                <div
                  class="icon-box lock"
                  [title]="user.accountStatus === 'Inactive' ? 'Unban' : 'Ban'"
                  (click)="toggleBanUser(user)"
                >
                  <i
                    class="fa-solid"
                    [ngClass]="[
                      user.accountStatus === 'Inactive'
                        ? 'fa-unlock'
                        : 'fa-lock',
                      user.accountStatus === 'Inactive'
                        ? 'unlock-icon'
                        : 'lock-icon'
                    ]"
                  >
                  </i>
                </div>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>

      <app-user-view
        *ngIf="isModalVisible && selectedUser"
        [user]="selectedUser"
        (close)="handleModalCancel()"
      ></app-user-view>

      <app-user-edit
        *ngIf="isEditModalVisible && selectedEditUser"
        [user]="selectedEditUser"
        [userId]="idChoose"
        (close)="handleEditModalClose()"
      ></app-user-edit>

      <!-- phân trang -->
      <div class="pagination-controls">
        <button (click)="prevPage()" [disabled]="currentPage === 1">
          Prev
        </button>

        <button
          *ngFor="let page of [].constructor(totalPages); let idx = index"
          [class.active]="currentPage === idx + 1"
          (click)="goToPage(idx + 1)"
        >
          {{ idx + 1 }}
        </button>

        <button (click)="nextPage()" [disabled]="currentPage === totalPages">
          Next
        </button>
      </div>

      <!-- nếu ko có data -->
      <p *ngIf="users.length === 0" class="no-data-text">No users found.</p>

      <!-- <nz-modal
        [(nzVisible)]="isModalVisible"
        (nzOnCancel)="handleModalCancel()"
        [nzFooter]="null"
        nzTitle="User Details"
      >
        <ng-container *ngIf="selectedUser">
          <p>
            <strong>Full Name:</strong> {{ selectedUser.firstName }}
            {{ selectedUser.lastName }}
          </p>
          <p><strong>Email:</strong> {{ selectedUser.email }}</p>
          <p><strong>Username:</strong> {{ selectedUser.userName }}</p>
          <p><strong>Date of Birth:</strong> {{ selectedUser.dateOfBirth }}</p>
          <p><strong>Role:</strong> {{ selectedUser.roles }}</p>
        </ng-container>
      </nz-modal> -->
    </div>
  </div>
</div>
