<div class="container">
  <!-- Nút mở modal -->
  <!-- role ADMIN -->
  <button class="new-btn" *ngIf="role === 'admin'" (click)="openUserModal()">
    + New User
  </button>

  <!-- Role STAFF -->
  <!-- <button
    class="new-btn"
    *ngIf="role === 'staff'"
    (click)="openCustomerModal()"
  >
    + New User
  </button> -->
  <!-- <button class="new-btn" *ngIf="role === 'staff'" (click)="openBookingModal()">
    + New Booking
  </button> -->

  <!-- Role MANAGER -->
  <button class="new-btn" *ngIf="role === 'manager'" (click)="openUserModal()">
    + New User
  </button>
  <button class="new-btn" *ngIf="role === 'manager'" (click)="openCustomerModal()">
    + New Test
  </button>

  <!-- Render modal nếu showModal === true -->
  <div class="createAdmin">
    <app-create-user
      *ngIf="modalType === 'user'"
      (close)="closeModal()"
    ></app-create-user>
  </div>

  <div class="createManager">
    <app-create-customer
      *ngIf="modalType === 'customer'"
      (close)="closeModal()"
      (testCreated)="handleTestCreated()"
    ></app-create-customer>
  </div>
<!--
  <div class="createBooking">
    <app-create-booking *ngIf="modalType === 'booking'" (close)="closeModal()">
    </app-create-booking>
  </div> -->

  <ul class="menu">
    <li routerLinkActive="active" *ngIf="role === 'admin'">
      <a class="menu-item" [routerLink]="['/manager-users']">
        <nz-icon nzType="team" nzTheme="outline"></nz-icon>
        <span class="menu-text">Manager Users</span>
      </a>
    </li>
    <li routerLinkActive="active" *ngIf="role === 'manager'">
      <a class="menu-item" [routerLink]="['/manager-customers']">
        <nz-icon nzType="team" nzTheme="outline"></nz-icon>
        <span class="menu-text">Manager Users</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a class="menu-item">
        <nz-icon nzType="message" nzTheme="outline"></nz-icon>
        <span class="menu-text">Feedbacks</span>
      </a>
    </li>
    <li routerLinkActive="active" *ngIf="role === 'manager'">
      <a class="menu-item">
        <nz-icon nzType="clock-circle" nzTheme="outline"></nz-icon>
        <span class="menu-text">Set working time</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a class="menu-item">
        <nz-icon nzType="bar-chart" nzTheme="outline"></nz-icon>
        <span class="menu-text">Dashboard</span>
      </a>
    </li>
    <li routerLinkActive="active" *ngIf="role === 'manager'">
      <a class="menu-item" [routerLink]="['/manage-service']">
        <nz-icon nzType="database" nzTheme="outline"></nz-icon>
        <span class="menu-text">Categories Service</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a class="menu-item" [routerLink]="['/view-consultation-schedule']">
        <nz-icon nzType="schedule" nzTheme="outline"></nz-icon>
        <span class="menu-text">Consultation Schedule</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a class="menu-item" [routerLink]="['/view-question']">
        <nz-icon nzType="question-circle" nzTheme="outline"></nz-icon>
        <span class="menu-text">View Question</span>
      </a>
    </li>
    <li routerLinkActive="active" *ngIf="role === 'staff'">
      <a class="menu-item" [routerLink]="['/manage-service']">
        <nz-icon nzType="database" nzTheme="outline"></nz-icon>
        <span class="menu-text">Test Service</span>
      </a>
    </li>
    <li routerLinkActive="active" *ngIf="role === 'staff'">
      <a class="menu-item" [routerLink]="['/staff']">
        <nz-icon nzType="database" nzTheme="outline"></nz-icon>
        <span class="menu-text">Staff</span>
      </a>
    </li>
  </ul>
</div>
