<!-- Modal popup -->
<div class="modal-backdrop">
  <div class="modal-form" *ngIf="createUserForm">
    <h2 class="title">CREATE USER</h2>

    <form [formGroup]="createUserForm" (ngSubmit)="submitForm()">
      <label>Email *</label>
      <input
        type="email"
        formControlName="email"
        placeholder="name@example.com"
      />
      <div class="error">
        <span
          *ngIf="createUserForm.get('email')?.touched && createUserForm.get('email')?.errors?.['required']"
        >
          *Email is required
        </span>
        <span
          *ngIf="createUserForm.get('email')?.touched && createUserForm.get('email')?.errors?.['email']"
        >
          *Invalid email format
        </span>
      </div>

      <label>Username *</label>
      <input
        type="text"
        formControlName="username"
        placeholder="Enter username"
      />
      <div class="error">
        <span
          *ngIf="createUserForm.get('username')?.touched && createUserForm.get('username')?.errors?.['required']"
        >
          *Username is required
        </span>
      </div>

      <label>Password *</label>
      <div class="password-field">
        <input
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
          readonly
        />
        <span class="toggle" (click)="hidePassword = !hidePassword">
          <nz-icon
            [nzType]="hidePassword ? 'eye-invisible' : 'eye'"
            nzTheme="outline"
          ></nz-icon>
        </span>
      </div>
      <div class="error"></div>

      <label>Confirm Password *</label>
      <div class="password-field">
        <input
          [type]="hideConfirm ? 'password' : 'text'"
          formControlName="confirmPassword"
          readonly
        />
        <span class="toggle" (click)="hideConfirm = !hideConfirm">
          <nz-icon
            [nzType]="hideConfirm ? 'eye-invisible' : 'eye'"
            nzTheme="outline"
          ></nz-icon>
        </span>
      </div>
      <div class="error"></div>

      <label>Role *</label>
      <select formControlName="role">
        <option value="" disabled selected>Select role</option>
        <!-- <option value="admin">Admin</option> -->
        <option value="Staff">Staff</option>
        <option value="Manager">Manager</option>
        <option value="Consultant">Consultant</option>
      </select>
      <div class="btn">
        <button
          class="btn-submit"
          type="submit"
          [disabled]="createUserForm.invalid"
        >
          Create
        </button>
      </div>
    </form>

    <button class="btn-cancel" (click)="closeModal()">Cancel</button>
  </div>
</div>
