:host {
  display: block;
  background-color: #F8F9FA;
  min-height: 80vh;
  max-height: 600px;
  padding-top:20vh;
}

.login-wrapper {
  display: flex;
  max-width: 1000px;
  margin: auto;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.login-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 100%;
    height: auto;
  }
}

.login-right {
  flex: 1;
  padding: 3rem;

  h2 {
    color: #2D3436; ;
    margin-bottom: 1.5rem;
  }

  label {
    display: block;
    margin: 0.5rem 0 0.25rem;
    font-weight: 600;
    color: #2D3436;
  }

  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
  }

  .checkbox-row {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    input {
      margin-right: 0.5rem;
    }
  }

  button[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    background-color: #6C5CE7;  ;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    margin-bottom: 1rem;
    cursor: pointer;

    &:hover {
      background-color: #392b94;
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    margin-bottom: 1rem;

    a {
      text-decoration: none;
      color: #2D3436;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  hr {
    margin: 1.5rem 0;
  }

  .social-buttons {
    display: flex;
    justify-content: space-between;

    button {
      flex: 1;
      padding: 0.5rem;
      margin: 0 0.25rem;
      border: 1px solid #6C5CE7;  ;
      background-color: white;
      color:#6C5CE7;  ;
      border-radius: 6px;
      cursor: pointer;
      font-weight: 600;

      &:hover {
        background-color: #6C5CE7;  ;
        color: white;
      }
    }
  }
}
