
<div class="container">
  
     <div class="login-wrapper">
        <div class="login-left">
            <img src="https://img.freepik.com/premium-vector/vector-character-plan_1064626-160.jpg" alt="Booking illustration">
        </div>

        <div class="login-right">
            <form>
                <h1>LOGIN</h1>

                <label for="loginInput">EMAIL OR USERNAME *</label>
                <input type="text" id="loginInput" placeholder="name@example.com or username" required>

                <label for="password">PASSWORD *</label>
                <input type="password" id="password" placeholder="Enter password" required>

                <button type="submit">Log in now</button>

            <div class="actions">
                <a [routerLink]="['/registration']">Create new account</a>
                <!-- <a [routerLink]="['/forgot-password']">Forgot Password</a> -->
            </div>

            

            <hr>
            <div>
                &copy; 2025 HealthCareSystem. All rights reserved.
            </div>
            </form>
        </div>
    </div>
</div>
