<div class="custom-modal">
  <div class="custom-modal-content">
    <div class="btnclose">
      <span class="close-button" (click)="onClose()">&times;</span>
    </div>

    <div *ngIf="user">
      <div class="user-avatar">
        <span
          >{{ user.firstName ? user.firstName[0] : ""
          }}{{ user.lastName ? user.lastName[0] : "" }}</span
        >
      </div>
      <h3 class="modal-title">User Details</h3>
      <div class="user-details-list">
        <div class="detail-row">
          <span class="detail-label">Full Name:</span>
          <span class="detail-value">{{
            (user.firstName ? user.firstName : "") +
              (user.lastName ? " " + user.lastName : "")
          }}</span>
        </div>
        <div class="detail-row">
          <span class="detail-label">Email:</span>
          <span class="detail-value">{{ user.email }}</span>
        </div>
        <div class="detail-row">
          <span class="detail-label">Username:</span>
          <span class="detail-value">{{ user.userName }}</span>
        </div>
        <div class="detail-row">
          <span class="detail-label">Date of Birth:</span>
          <span class="detail-value">{{ user.dateOfBirth }}</span>
        </div>
        <div class="detail-row">
          <span class="detail-label">Roles:</span>
          <span class="detail-value">{{ displayRoles }}</span>
        </div>
        <div class="detail-row">
          <span class="detail-label">Email Confirmed:</span>
          <span class="detail-value">
            <span
              [ngClass]="
                user.emailConfirmed ? 'status-confirmed' : 'status-unconfirmed'
              "
            >
              {{ user.emailConfirmed ? "Confirmed" : "Unconfirmed" }}
            </span>
          </span>
        </div>
        <div class="detail-row">
          <span class="detail-label">Status:</span>
          <span class="detail-value">
            <span
              [ngClass]="
                user.accountStatus === 'Active'
                  ? 'status-active'
                  : 'status-inactive'
              "
            >
              {{ user.accountStatus }}
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
