<form [formGroup]="createMenstrualForm" class="cycle-form">
  <div>
    <label for="start_date">Start Date:</label>
    <input type="date" id="start_date" formControlName="start_date" required />
  </div>

  <div>
    <label for="end_date">End Date:</label>
    <input type="date" id="end_date" formControlName="end_date" required />
  </div>

  <div>
    <label for="note">Note:</label>
    <input type="text" id="note" formControlName="note" />
  </div>

  <!-- <div class="reminder">
    <label for="note">Reminder: </label>
    <input
      type="radio"
      id="note"
      formControlName="reminder_enabled"
      [value]="true"
      class="yes"
    />Yes
    <input
      type="radio"
      id="note"
      formControlName="reminder_enabled"
      [value]="false"
      class="no"
    />No
  </div> -->

  <div class="buttons">
    <button type="submit" (click)="onEdit()" *ngIf="selectmode == 'edit'">
      Save
    </button>
    <button type="submit" (click)="onSubmit()" *ngIf="selectmode == 'new'">
      Create
    </button>
    <button type="button" (click)="onCancel()">Cancel</button>
  </div>
</form>
