<app-header></app-header>

<div *ngIf="user">
  <!-- Đảm bảo user có dữ liệu trước khi render -->
  <div class="container">
    <div class="sidebar">
      <h3 class="username">Hi, {{ user.userName }}</h3>
      <ul>
        <li
          *ngFor="let item of features"
          [class.active]="item === selectedFeature"
          (click)="selectFeature(item)"
        >
          {{ item }}
        </li>
      </ul>
    </div>

    <div class="contentProfile">
      <div class="profile-header" *ngIf="selectedFeature === 'Your Profile'">
        <h2>{{ selectedFeature }}</h2>
        <button class="edit-btn" (click)="toggleEditProfile()">Edit</button>
      </div>

      <div class="tab-content">
        <div class="profile-card" *ngIf="selectedFeature === 'Your Profile'">
          <p><strong>User Name:</strong> {{ user.userName }}</p>
          <p>
            <strong>Full Name:</strong>
            {{ user.firstName + " " + user.lastName }}
          </p>
          <p><strong>Email:</strong> {{ user.email }}</p>
          <p><strong>Phone Number:</strong> {{ user.roles }}</p>
          <p><strong>Gender:</strong> LGBT</p>
          <p><strong>Date of Birth:</strong> {{ user.dateOfBirth }}</p>
        </div>

        <div
          class="booking-history"
          *ngIf="selectedFeature === 'Booking History'"
        >
          <p *ngFor="let booking of bookings">
            ID: {{ booking.id }} - Test Name: {{ booking.service }} - Date:
            {{ booking.date }} - Status: {{ booking.status }}
          </p>
        </div>

        <div
          class="question-history"
          *ngIf="selectedFeature === 'Question History'"
        >
          <p *ngFor="let question of questions">
            ID: {{ question.id }} - Question: {{ question.title }} - Date:
            {{ question.date }} - Status: {{ question.status }}
          </p>
        </div>

        <div
          class="change-password"
          *ngIf="selectedFeature === 'Change Password'"
        >
          <p>Change password form...</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Popup Edit Profile -->
  <div
    class="modal-overlay"
    *ngIf="showEditProfile"
    (click)="toggleEditProfile()"
  >
    <div class="modal-content" (click)="$event.stopPropagation()">
      <button class="close-btn" (click)="toggleEditProfile()">&times;</button>
      <app-edit-profile
        *ngIf="showEditProfile"
        [user]="user"
      ></app-edit-profile>
    </div>
  </div>
</div>

<app-footer></app-footer>
