<app-header></app-header>

<div *ngIf="user">
  <!-- Đảm bảo user có dữ liệu trước khi render -->
  <div class="container">
    <div class="sidebar">
      <h3 class="username">Hi, {{ user.userName }}</h3>
      <ul>
        <li
          *ngFor="let item of features"
          [class.active]="item === selectedFeature"
          (click)="selectFeature(item)"
        >
          {{ item }}
        </li>
      </ul>
    </div>

    <div class="contentProfile">
      <div
        class="profile-header"
        *ngIf="
          selectedFeature === 'Your Profile' ||
          'Change Password' ||
          'Booking History' ||
          'Question History'
        "
      >
        <h2>{{ selectedFeature }}</h2>
        <button
          class="edit-btn"
          (click)="toggleEditProfile()"
          *ngIf="selectedFeature === 'Your Profile'"
        >
          Edit
        </button>
      </div>

      <div class="tab-content">
        <div class="profile-card" *ngIf="selectedFeature === 'Your Profile'">
          <p><strong>User Name:</strong> {{ user.userName }}</p>
          <p>
            <strong>Full Name:</strong>
            {{ user.firstName + " " + user.lastName }}
          </p>
          <p><strong>Email:</strong> {{ user.email }}</p>
          <p><strong>Phone Number:</strong> {{ user.roles }}</p>
          <p>
            <strong>Gender:</strong
            >{{ user.gender == true ? "Male" : "Female" }}
          </p>
          <p><strong>Date of Birth:</strong> {{ user.dateOfBirth }}</p>
        </div>

        <div
          class="booking-history"
          *ngIf="selectedFeature === 'Booking History'"
        >
          <p *ngFor="let booking of bookings">
            ID: {{ booking.id }} - Test Name: {{ booking.service }} - Date:
            {{ booking.date }} - Status: {{ booking.status }}
          </p>
        </div>

        <div
          class="question-history"
          *ngIf="selectedFeature === 'Question History'"
        >
          <p *ngFor="let question of questions">
            ID: {{ question.id }} - Question: {{ question.title }} - Date:
            {{ question.date }} - Status: {{ question.status }}
          </p>
        </div>

        <!-- Change Password -->
        <div
          class="change-password"
          *ngIf="selectedFeature === 'Change Password'"
        >
          <form
            [formGroup]="changePasswordForm"
            (ngSubmit)="onSubmitChangePwd()"
          >
            <div class="form-row">
              <label for="currentPassword">Current Password:</label>
              <input
                id="currentPassword"
                type="password"
                formControlName="currentPassword"
                required
                (blur)="onCheckCurrentPassword()"
              />
              <span
                *ngIf="checkPasswordMessage"
                [ngClass]="{
                  error: !isPasswordValid,
                  success: isPasswordValid
                }"
                class="input-message"
              >
                {{ checkPasswordMessage }}
              </span>
            </div>

            <div class="form-row">
              <label for="newPassword">New Password:</label>
              <input
                id="newPassword"
                type="password"
                formControlName="newPassword"
                required
              />
            </div>

            <div class="form-row">
              <label for="confirmPassword">Confirm New Password:</label>
              <input
                id="confirmPassword"
                type="password"
                formControlName="confirmPassword"
                required
              />
            </div>

            <!-- Hiển thị lỗi custom validator -->
            <div
              *ngIf="
                changePasswordForm.hasError('passwordMismatch') &&
                changePasswordForm.get('confirmPassword')?.touched
              "
              class="error"
            >
              *Confirmation password does not match!
            </div>
            <div
              *ngIf="
                changePasswordForm.get('newPassword')?.touched &&
                changePasswordForm.get('newPassword')?.invalid
              "
              class="error"
            >
              <span
                *ngIf="
                  changePasswordForm.get('newPassword')?.hasError('required')
                "
              >
                *Please enter new password!
              </span>
              <span
                *ngIf="
                  changePasswordForm.get('newPassword')?.hasError('pattern')
                "
              >
                *Must be at least 6 characters and contain lowercase, uppercase,
                numbers, special!
              </span>
            </div>
            <div
              *ngIf="
                changePasswordForm.hasError('duplicatePassword') &&
                changePasswordForm.get('newPassword')?.touched
              "
              class="error"
            >
              *New password cannot be the same as current password!
            </div>
            <div *ngIf="message" class="message">
              {{ message }}
            </div>
            <button
              type="submit"
              [disabled]="changePasswordForm.invalid || !isPasswordValid"
            >
              Change Password
            </button>
          </form>
        </div>
        <!--  -->
      </div>
    </div>
  </div>

  <!-- Popup Edit Profile -->
  <div
    class="modal-overlay"
    *ngIf="showEditProfile"
    (click)="toggleEditProfile()"
  >
    <div class="modal-content" (click)="$event.stopPropagation()">
      <button class="close-btn" (click)="toggleEditProfile()">&times;</button>
      <app-edit-profile
        *ngIf="showEditProfile"
        [user]="user"
      ></app-edit-profile>
    </div>
  </div>
</div>

<app-footer></app-footer>
