<app-header-manager></app-header-manager>
<div class="user-manager">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Main Content -->
  <div class="main">
    <!-- User List -->

    <div class="user-list">
      <div class="user-list-header">
        <div class="content">Test Booking Service</div>
        <div class="search-wrapper">
          <nz-icon nzType="search" class="search-icon"></nz-icon>
          <input
            nz-input
            placeholder="Search by name"
            class="search-box"
            [(ngModel)]="searchTerm"
            (ngModelChange)="onSearchChange()"
          />
        </div>
      </div>

      <div class="user-list-scrollable">
        <nz-table
          [nzData]="displayedTestBooking"
          [nzFrontPagination]="false"
          [nzShowPagination]="false"
        >
          <thead>
            <tr>
              <th>
                <span class="taghead nohead" style="width: 40px">No.</span>
              </th>
              <th>
                <div style="display: flex; align-items: center">
                  <span class="taghead namehead" style="width: 170px"
                    >Full Name</span
                  >
                </div>
              </th>
              <th>
                <div style="display: flex; align-items: center">
                  <span class="taghead mailhaed" style="width: 150px"
                    >Date Of Birth</span
                  >
                </div>
              </th>
              <th>
                <div style="display: flex; align-items: center">
                  <span class="taghead rolehead" style="width: 150px"
                    >Test Name</span
                  >
                </div>
              </th>
              <th>
                <div style="display: flex; align-items: center">
                  <span class="taghead verifiedhead" style="width: 100px"
                    >Date</span
                  >
                </div>
              </th>
              <!-- <th>
                <div style="display: flex; align-items: center;">
                  <span class="taghead activehead" style="width: 70px;">Time</span>
                </div>
              </th> -->
              <th>
                <div style="display: flex; align-items: center">
                  <span class="taghead activehead" style="width: 70px"
                    >Status</span
                  >
                </div>
              </th>
              <th>
                <span class="taghead operationhead" style="width: 100px"
                  >Operations</span
                >
              </th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let booking of displayedTestBooking; let i = index">
              <td>
                <span class="tag no">{{
                  (currentPage - 1) * pageSize + i + 1
                }}</span>
              </td>
              <td>
                <span class="tag name"
                  >{{ booking.account.firstName }}
                  {{ booking.account.lastName }}</span
                >
              </td>
              <td>
                <span class="tag name">{{ booking.account.dateOfBirth }}</span>
              </td>
              <td>
                <span class="tag mail">{{ booking.test.testName }}</span>
              </td>
              <td>
                <span class="tag">{{ booking.bookingDate }}</span>
              </td>
              <!-- <td>
                <span class="tag">{{ booking.bookingTime }}</span>
              </td> -->
              <td>
                <span class="tag">{{ booking.status }}</span>
              </td>
              <td div class="operation-icons">
                <div class="icon-box eye" title="View">
                  <i class="fa-solid fa-eye"></i>
                </div>
                <div class="icon-box edit" title="Edit">
                  <i class="fa-solid fa-edit"></i>
                </div>

                <div class="icon-box edit" title="Edit">
                  <i class="fa-solid fa-edit"></i>
                </div>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>

      <!-- Pagination -->
      <div class="pagination-controls">
        <button (click)="prevPage()" [disabled]="currentPage === 1">
          Prev
        </button>
        <button
          *ngFor="let page of [].constructor(totalPages); let idx = index"
          [class.active]="currentPage === idx + 1"
          (click)="goToPage(idx + 1)"
        >
          {{ idx + 1 }}
        </button>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">
          Next
        </button>
      </div>

      <p *ngIf="displayedTestBooking.length === 0" class="no-data-text">
        No test bookings found.
      </p>
    </div>
  </div>
</div>
