<app-header-manager></app-header-manager>
<div class="user-manager">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Main Content -->
  <div class="main">
    <!-- User List -->

    <div class="user-list">
      <div class="user-list-header">
        <div class="content">Diagnostic Test Scheduling Management</div>
        <div class="nav_wrapper">
          <div class="search-wrapper">
          <nz-icon nzType="search" class="search-icon"></nz-icon>
          <input
            nz-input
            placeholder="Search by name"
            class="search-box"
            [(ngModel)]="searchTerm"
            (ngModelChange)="onSearchChange()"
          />
         </div>
          <button class="new-btn"(click)="openBookingModal()">
            New Booking
          </button>
        </div>


      </div>

      <div class="user-list-scrollable">
        <nz-table
          [nzData]="displayedTestBooking"
          [nzFrontPagination]="false"
          [nzShowPagination]="false"
        >
          <thead>
            <tr>
              <th>
                <span class="taghead nohead" style="width: 40px">No.</span>
              </th>
              <th>
                <div style="display: flex; align-items: center">
                  <span class="taghead namehead" style="width: 170px"
                    >Full Name</span
                  >
                </div>
              </th>
              <th>
                <div style="display: flex; align-items: center">
                  <span class="taghead mailhaed" style="width: 150px"
                    >Date Of Birth</span
                  >
                </div>
              </th>
              <th>
                <div style="display: flex; align-items: center">
                  <span class="taghead rolehead" style="width: 150px"
                    >Test Name</span
                  >
                </div>
              </th>
             <th>
              <div style="display: flex; align-items: center">
                <span class="taghead verifiedhead" style="width: 100px">Date</span>
                <nz-filter-trigger
                  [(nzVisible)]="filterVisible.date"
                  [nzActive]="!!filter.date"
                  [nzDropdownMenu]="dateMenu"
                  style="margin-left: 4px"
                >
                  <nz-icon nzType="filter" nzTheme="outline"></nz-icon>
                </nz-filter-trigger>
              </div>
            </th>
              <th>
                <div style="display: flex; align-items: center">
                  <span class="taghead activehead" style="width: 70px">Status</span>
                  <nz-filter-trigger
                    [(nzVisible)]="filterVisible.status"
                    [nzActive]="!!filter.status"
                    [nzDropdownMenu]="statusMenu"
                    style="margin-left: 4px"
                  >
                    <nz-icon nzType="filter" nzTheme="outline"></nz-icon>
                  </nz-filter-trigger>
                </div>
              </th>
              <th>
                <span class="taghead operationhead" style="width: 100px"
                  >Operations</span
                >
              </th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let booking of displayedTestBooking; let i = index">
              <td>
                <span class="tag no">{{
                  (currentPage - 1) * pageSize + i + 1
                }}</span>
              </td>
              <td>
                <span class="tag name"
                  >{{ booking.account.firstName }}
                  {{ booking.account.lastName }}</span
                >
              </td>
              <td>
                <span class="tag name">{{ booking.account.dateOfBirth }}</span>
              </td>
              <td>
                <span class="tag mail">{{ booking.test.testName }}</span>
              </td>
              <td>
                <span class="tag">{{ booking.bookingDate }}</span>
              </td>
              <td>
                <span
                  class="tag"
                  [style.border]="'2px solid ' + statusColorMap[booking.status]"
                  [style.color]="statusColorMap[booking.status]"
                >
                  {{ statusMap[booking.status] || "Không xác định" }}
                </span>
              </td>

              <td div class="operation-icons">
                <div
                  class="icon-box eye"
                  title="View"
                  (click)="viewBookingDetail(booking.bookingID)"
                >
                  <i class="fa-solid fa-eye"></i>
                </div>
                <div
                  class="icon-box edit"
                  title="Edit"
                  (click)="editBooking(booking.bookingID)"
                >
                  <i class="fa-solid fa-edit"></i>
                </div>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
      <app-view-booking-detail
        *ngIf="isModalVisible && selectedBooking"
        [booking]="selectedBooking"
        (close)="handleModalCancel()"
        
      ></app-view-booking-detail>

      <app-edit-booking
        *ngIf="
          isEditModalVisible && selectedEditBooking && idChoose !== undefined
        "
        [booking]="selectedEditBooking"
        [bookingID]="idChoose!"
        (close)="handleEditModalClose()"
        (updated)="handleBookingUpdated($event)"
      >
      </app-edit-booking>

      <!-- Pagination -->
      <div class="pagination-controls">
        <button (click)="prevPage()" [disabled]="currentPage === 1">
          Prev
        </button>
        <button
          *ngFor="let page of [].constructor(totalPages); let idx = index"
          [class.active]="currentPage === idx + 1"
          (click)="goToPage(idx + 1)"
        >
          {{ idx + 1 }}
        </button>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">
          Next
        </button>
      </div>

      <p *ngIf="displayedTestBooking.length === 0" class="no-data-text">
        No test bookings found.
      </p>
    </div>
  </div>
</div>
<nz-dropdown-menu #statusMenu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item (click)="setStatus('')">All</li>
    <li nz-menu-item (click)="setStatus('submitted')">Submitted</li>
    <li nz-menu-item (click)="setStatus('pending')">Pending</li>
    <li nz-menu-item (click)="setStatus('confirmed')">Confirmed</li>
    <li nz-menu-item (click)="setStatus('canceled')">Canceled</li>
    <li nz-menu-item (click)="setStatus('completed')">Completed</li>
  </ul>
</nz-dropdown-menu>
<nz-dropdown-menu #dateMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div style="padding: 8px 12px;">
      <nz-date-picker
        [(ngModel)]="filter.date"
        (ngModelChange)="setDate($event)"
        nzFormat="yyyy/MM/dd"
        [nzInputReadOnly]="true"
        style="width: 100%;"
      ></nz-date-picker>
      <div style="display: flex; justify-content: flex-end; margin-top: 8px;">
        <button nz-button nzType="primary" (click)="filterVisible.date = false" style="margin-right: 8px;">
          OK
        </button>
        <!-- <button nz-button (click)="setDate(null); filterVisible.date = false">
          Reset
        </button> -->
      </div>
    </div>
  </div>
</nz-dropdown-menu>
<div class="createBooking">
    <app-create-booking
        *ngIf="modalType === 'booking'"
        (close)="closeModal()"
        >
    </app-create-booking>
  </div>
