<div class="custom-modal">
  <div class="custom-modal-content">
    <div class="btnclose">
      <span class="close-button" (click)="onClose()">&times;</span>
    </div>
    <h2><strong>Your Prediction</strong></h2>
    <p><strong>Start Date</strong> :{{ predict.predictedStartDate }}</p>
    <p><strong>Ovulation Date</strong> :{{ predict.predictedOvulationDate }}</p>
    <p><strong>Fertile Date</strong> :{{ start }} - {{ end }}</p>
    <button (click)="remindCycle()">Remind</button>
  </div>
</div>
