<!-- Modal popup -->
<div class="modal-backdrop">
  <div class="modal-form" *ngIf="createUserForm">
    <h2 class="title">CREATE USER</h2>

    <form [formGroup]="createUserForm" (ngSubmit)="submitForm()">
      <label>Email *</label>
      <input
        type="email"
        formControlName="email"
        placeholder="name@example.com"
      />
      <div class="error">
        <span
          *ngIf="createUserForm.get('email')?.touched && createUserForm.get('email')?.errors?.['required']"
        >
          *Email is required
        </span>
        <span
          *ngIf="createUserForm.get('email')?.touched && createUserForm.get('email')?.errors?.['email']"
        >
          *Invalid email format
        </span>
      </div>

      <label>Username *</label>
      <input
        type="text"
        formControlName="username"
        placeholder="Enter username"
      />
      <div class="error">
        <span
          *ngIf="createUserForm.get('username')?.touched && createUserForm.get('username')?.errors?.['required']"
        >
          *Username is required
        </span>
        <span
          *ngIf="
      createUserForm.get('username')?.touched &&
      createUserForm.get('username')?.errors?.['pattern'] &&
      createUserForm.get('username')?.value
    "
        >
          *Username must contain both letters and numbers
        </span>
      </div>

      <label>Password *</label>
      <div class="password-field">
        <input
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
          placeholder="Enter password"
        />
        <span class="toggle" (click)="hidePassword = !hidePassword">
          <nz-icon
            [nzType]="hidePassword ? 'eye-invisible' : 'eye'"
            nzTheme="outline"
          ></nz-icon>
        </span>
      </div>
      <div class="error">
        <span
          *ngIf="createUserForm.get('password')?.touched && createUserForm.get('password')?.errors?.['required']"
        >
          *Password is required
        </span>
        <span
          *ngIf="
                createUserForm.get('password')?.touched &&
                createUserForm.get('password')?.errors?.['pattern'] &&
                createUserForm.get('password')?.value
              "
        >
          *Password must be at least 6 characters long and include at least
          letter and uppercase letter, one special character.
        </span>
      </div>

      <label>Confirm Password *</label>
      <div class="password-field">
        <input
          [type]="hideConfirm ? 'password' : 'text'"
          formControlName="confirmPassword"
          placeholder="Enter confirm password"
        />
        <span class="toggle" (click)="hideConfirm = !hideConfirm">
          <nz-icon
            [nzType]="hideConfirm ? 'eye-invisible' : 'eye'"
            nzTheme="outline"
          ></nz-icon>
        </span>
      </div>
      <div class="error">
        <span
          *ngIf="createUserForm.get('confirmPassword')?.touched && createUserForm.errors?.['passwordMismatch']"
        >
          *Passwords do not match
        </span>
      </div>

      <label>Role *</label>
      <select formControlName="role">
        <option value="" disabled selected>Select role</option>
        <option value="admin" *ngIf="role === 'admin'">Admin</option>
        <option value="Staff">Staff</option>
        <option value="Manager" *ngIf="role === 'admin'">Manager</option>
        <option value="Consultant">Consultant</option>
        <option value="Customer">Customer</option>
      </select>

      <div class="btn">
        <button
          class="btn-submit"
          type="submit"
          [disabled]="createUserForm.invalid"
        >
          Create
        </button>
      </div>
    </form>

    <button class="btn-cancel" (click)="closeModal()">Cancel</button>
  </div>
</div>
