<app-header-manager></app-header-manager>
<div class="user-manager">
  <div class="createManager">
    <app-create-customer
      *ngIf="modalType === 'customer'"
      (close)="closeModal()"
      (testCreated)="handleTestCreated()"
    ></app-create-customer>
  </div>
  <!-- Sidebar -->
  <app-sidebar (testCreated)="handleTestCreated()"></app-sidebar>
  <!-- Main-Content -->
  <div class="main">
    <div class="user-list">
      <div class="user-list-header">
        <div class="content">Test Type Management</div>
        <div class="search-wrapper">
          <nz-icon nzType="search" class="search-icon"></nz-icon>
          <!-- dùng nz-input -->
          <div class="searchAdd">
            <input
              nz-input
              placeholder="Search by test name or description"
              class="search-box"
              [(ngModel)]="search"
              (ngModelChange)="onSearchChange()"
            />
            <button
              class="new-btn"
              *ngIf="role === 'manager'"
              (click)="openCustomerModal()"
            >
              + New Test
            </button>
          </div>
        </div>
        <nz-table
          [nzData]="displayedTest"
          [nzFrontPagination]="false"
          [nzShowPagination]="false"
        >
          <thead>
            <tr>
              <th>
                <span class="taghead nohead" style="width: 40px">No.</span>
              </th>

              <th>
                <div style="display: flex; align-items: center">
                  <span
                    class="taghead namehead"
                    style="max-width: 320px; min-width: 320px"
                    >Test Name</span
                  >
                  <nz-filter-trigger
                    [(nzVisible)]="filterVisible.testName"
                    [nzActive]="!!filter.testName"
                    [nzDropdownMenu]="testNameMenu"
                    style="margin-left: 4px"
                  >
                    <nz-icon nzType="filter" nzTheme="outline"></nz-icon>
                  </nz-filter-trigger>
                  <nz-dropdown-menu #testNameMenu="nzDropdownMenu">
                    <ul nz-menu>
                      <li nz-menu-item (click)="sortTestName(null)">All</li>
                      <li nz-menu-item (click)="sortTestName('asc')">A → Z</li>
                      <li nz-menu-item (click)="sortTestName('desc')">Z → A</li>
                    </ul>
                  </nz-dropdown-menu>
                </div>
              </th>

              <th>
                <div style="display: flex; align-items: center">
                  <span class="taghead descriptionhead" style="width: 420px"
                    >Description</span
                  >
                  <nz-filter-trigger
                    [(nzVisible)]="filterVisible.description"
                    [nzActive]="!!filter.description"
                    [nzDropdownMenu]="descriptionMenu"
                    style="margin-left: 4px"
                  >
                    <nz-icon nzType="filter" nzTheme="outline"></nz-icon>
                  </nz-filter-trigger>
                  <nz-dropdown-menu #descriptionMenu="nzDropdownMenu">
                    <ul nz-menu>
                      <li nz-menu-item (click)="sortDescription(null)">All</li>
                      <li nz-menu-item (click)="sortDescription('asc')">
                        A → Z
                      </li>
                      <li nz-menu-item (click)="sortDescription('desc')">
                        Z → A
                      </li>
                    </ul>
                  </nz-dropdown-menu>
                </div>
              </th>

              <th>
                <div style="display: flex; align-items: center">
                  <span class="taghead pricehead" style="width: 50px"
                    >Price</span
                  >
                  <!-- <nz-filter-trigger
                    [(nzVisible)]="filterVisible.role"
                    [nzActive]="!!filter.role"
                    [nzDropdownMenu]="roleMenu"
                    style="margin-left: 4px"
                  >
                    <nz-icon nzType="filter" nzTheme="outline"></nz-icon>
                  </nz-filter-trigger> -->
                </div>
              </th>

              <th>
                <div style="display: flex; align-items: center">
                  <span class="taghead statushead" style="width: 70px"
                    >Status</span
                  >
                  <nz-filter-trigger
                    [(nzVisible)]="filterVisible.status"
                    [nzActive]="!!filter.status"
                    [nzDropdownMenu]="statusMenu"
                    style="margin-left: 4px"
                  >
                    <nz-icon nzType="filter" nzTheme="outline"></nz-icon>
                  </nz-filter-trigger>
                  <nz-dropdown-menu #statusMenu="nzDropdownMenu">
                    <ul nz-menu>
                      <li nz-menu-item (click)="filterStatus(null)">All</li>
                      <li nz-menu-item (click)="filterStatus('active')">
                        Active
                      </li>
                      <li nz-menu-item (click)="filterStatus('inactive')">
                        Inactive
                      </li>
                    </ul>
                  </nz-dropdown-menu>
                </div>
              </th>

              <th *ngIf="role === 'manager'">
                <span class="taghead operationhead" style="width: 40px"
                  >Edit</span
                >
              </th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let user of displayedTest; let i = index">
              <td>
                <span class="tag no">{{
                  (currentPage - 1) * pageSize + i + 1
                }}</span>
              </td>
              <td>
                <span class="tag name">{{ user.testName }}</span>
              </td>
              <td>
                <span class="tag mail">{{ user.description }}</span>
              </td>
              <td>
                <span class="tag user">{{ user.price }}</span>
              </td>

              <td>
                <nz-tag
                  class="tag active"
                  *ngIf="user.active === true"
                  nzColor="green"
                  >Active</nz-tag
                >
                <nz-tag
                  class="tag inactive"
                  *ngIf="user.active === false"
                  nzColor="red"
                  >Inactive</nz-tag
                >
              </td>

              <td class="operation-icons" *ngIf="role === 'manager' || 'admin'">
                <div
                  class="icon-box edit"
                  title="Edit"
                  (click)="editTest(user.testID)"
                >
                  <i class="fa-solid fa-edit"></i>
                </div>

                <!-- <div
                  class="icon-box lock"
                  title="lock"
                >
                  <i
                    class="fa-solid"
                    [ngClass]="[
                      user.active === true ? 'fa-lock' : 'fa-unlock',
                      user.active === true ? 'unlock-icon' : 'lock-icon'
                    ]"
                  >
                  </i>
                </div> -->
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>

      <app-test-edit
        *ngIf="isEditModalVisible && selectedEditTest"
        [user]="selectedEditTest"
        (close)="handleEditModalClose()"
        (updated)="handleEditSuccess()"
      ></app-test-edit>

      <!-- phân trang -->
      <div class="pagination-controls">
        <button (click)="prevPage()" [disabled]="currentPage === 1">
          Prev
        </button>

        <button
          *ngFor="let page of [].constructor(totalPages); let idx = index"
          [class.active]="currentPage === idx + 1"
          (click)="goToPage(idx + 1)"
        >
          {{ idx + 1 }}
        </button>

        <button (click)="nextPage()" [disabled]="currentPage === totalPages">
          Next
        </button>
      </div>
    </div>
  </div>
</div>
