<app-header></app-header>
<div class="user-manager">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- Main-Content -->
  <div class="main">
      <p>Categorie Test Service</p>
       <div class="user-list">
      <div class="user-list-header">
        <div class="content">User Management</div>
        <div class="search-wrapper">
          <nz-icon nzType="search" class="search-icon"></nz-icon>
          <!-- dùng nz-input -->
          <input
            nz-input
            placeholder="Search by name, email"
            class="search-box"
            [(ngModel)]="searchTerm"
            (ngModelChange)="onSearchChange()"
          />
        </div>
      </div>
      </div>
  </div>
  


</div>
