<footer class="footer">
  <div class="footer-container footer-new">
    <div class="footer-col footer-col-logo-info">
      <div class="footer-logo-row">
        <img src="assets/logo.png" alt="Logo" class="footer-logo-large" />
      </div>
      <div class="footer-title-large">Saigon Healthcare Clinic</div>
      <div class="footer-info">
        <div>Địa chỉ: , Quận 9, Thành phố Hồ Chí Minh</div>
        <div>Điện thoại: <b>098 </b></div>
        <div>Email: <b>healthcares2205&#64;gmail.com</b></div>
        <div>Thời gian làm việc:</div>
        <div>Thứ 2 đến thứ 6: sáng 7:00 - 11:30, chiều 13:00 - 18:00.</div>
      </div>
    </div>
    <div class="footer-col footer-col-links">
      <ul>
        <li><a href="#">Về Saigon Healthcare</a></li>
        <li><a href="#">Đội ngũ bác sĩ</a></li>
        <li><a href="#">Tin tức</a></li>
        <li><a href="#">Tuyển dụng</a></li>
        <li><a href="#">Sitemap</a></li>
      </ul>
    </div>
    <div class="footer-col footer-col-links">
      <ul>
        <li><a href="#">Dịch vụ</a></li>
        <li><a href="#">Giới thiệu</a></li>
        <li><a href="#">Đặt lịch khám</a></li>
        <li><a href="#">Gói khám</a></li>
        <li><a href="#">Quy trình khám bệnh dịch vụ</a></li>
      </ul>
    </div>
  </div>
</footer>
