<app-header *ngIf="role === 'customer' || role === null"></app-header>
<div class="container">
  <div class="content">
    <!-- Left Panel -->
    <div class="left-panel">
      <input
        class="searchTest"
        placeholder="Search Test"
        [(ngModel)]="search"
      />
      <div class="left-panel-content">
        <div class="advice-header">
          <img src="assets/mũi tên.png" alt="icon" width="24" />
          <span *ngIf="role === 'customer' || role === null"
            >Free Online Consultation</span
          >
        </div>

        <form class="form-dang-ky" *ngIf="role === 'customer' || role === null">
          <input type="text" placeholder="Full Name" required />
          <input type="tel" placeholder="Email" required />
          <select>
            <option disabled selected>Book a Test Appointment</option>
            <option>Test Consultation</option>
            <option>Home Sample Collection</option>
            <option>Others</option>
          </select>
          <button type="submit">Send Information</button>
        </form>

        <img
          src="assets/bannerSale.png"
          alt="Khuyến mãi"
          class="promo-banner"
          *ngIf="role === 'customer' || role === null"
          width="60"
        />
      </div>
    </div>

    <!-- Right Panel -->
    <div class="right-panel">
      <ng-container *ngIf="filteredTests.length > 0; else noResults">
        <ng-container *ngFor="let t of filteredTests">
          <ng-container *ngIf="t.active">
            <app-appointment-card
              [imageUrl]="'assets/stethoscope.jpg'"
              [title]="t.testName"
              [price]="t.price"
              [description]="t.description"
              [status]="t.active"
              [id]="t.testID"
              (openPopup)="openBookingPopup(t.testID)"
            ></app-appointment-card>
          </ng-container>
        </ng-container>
      </ng-container>

      <app-appointment-modal
        *ngIf="showModal"
        [show]="showModal"
        [imageUrl]="'assets/stethoscope.jpg'"
        [title]="selectedTest.testName"
        [price]="selectedTest.price"
        [description]="selectedTest.description"
        [active]="selectedTest.active"
        (close)="closePopup()"
      ></app-appointment-modal>

      <ng-template #noResults>
        <div class="no-results">
          <img src="assets/searchNotFound.png" alt="not found" width="300" />
          <p>No matching tests found</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<footer id="footer">
  <app-footer></app-footer>
</footer>
